SUPABASE_PROJECT_ID="phzzviwbotcylslalgib"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_vP9kzGTfeDruoD-8a1aZLQ_IIupRL8X"
SUPABASE_URL="https://phzzviwbotcylslalgib.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_2NpJKfhx45dX9LEiJBl4Ow_Z7nUqlZs"
VITE_SUPABASE_PROJECT_ID="phzzviwbotcylslalgib"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_vP9kzGTfeDruoD-8a1aZLQ_IIupRL8X"
VITE_SUPABASE_URL="https://phzzviwbotcylslalgib.supabase.co"

PORT=8080
