# Supabase / Lovable Cloud Credentials
VITE_SUPABASE_URL=https://wmdoaicprbbvxfixtnuc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pksd7S6DCmIdr7o0H63Xcg_7J2jhvjV
VITE_SUPABASE_PROJECT_ID=wmdoaicprbbvxfixtnuc

# Server-side Credentials (do not expose to client browser)
SUPABASE_URL=https://wmdoaicprbbvxfixtnuc.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_pksd7S6DCmIdr7o0H63Xcg_7J2jhvjV
SUPABASE_SERVICE_ROLE_KEY=sb_secret_dxMpvhG2b70o_QjPASntAA_Xt_3O8a-
